
<% removal_orders.each do |order| %>
  <ul>
    <li>Peso: <%= order.weight %></li>
    <li>Data de retirada: <%= order.removal_date_start %></li>
    <li>Limite de retirada: <%= order.removal_date_end %></li>
    <li><%= order.address %></li>
    <li>Endereço: <%= link_to 'Ver detalhes', removal_order_path(id: order.id) %></li>
  </ul> 
<% end %>