<h1>Detalhes do pedido</h1>
  <ul>
    <li>Peso <%= @removal_order.weight %> kg</li>
    <li>Data retirada inicio <%= l @removal_order.removal_date_start, format: :custom %></li>
    <li>Data retirada fim <%= l @removal_order.removal_date_end, format: :custom  %></li>
    <li>Endereço <%= @removal_order.address %></li>
  </ul>

  <a href="javascript:;" id="report_problem" class="btn btn-danger">Reportar um problema</a>
  <%= form_with model: [@removal_order, @removal_order_problem], html: { class: 'd-none', id: 'new_removal_order_problem' } do |f| %>
    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_area :comment, class: 'form-control' %>
    </div>
    <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Editar', edit_removal_order_path(@removal_order) %>
  <%= link_to 'Apagar pedido', @removal_order, method: :delete,
    data: { confirm: " Você quer deletar?"} %>

  <div id="removal_order_problem">
    <%= render partial: 'removal_order_problems/removal_order_problems' %>
  </div>

  <script>
    $('#report_problem').on( "click", function() {
      $('#new_removal_order_problem').removeClass('d-none');
    } );
  </script>
