<h1>Detalhes do pedido</h1>
  <ul>
    <li>Peso <%= @removal_order.weight %> kg</li>
    <li>Data retirada inicio <%= l @removal_order.removal_date_start, format: :custom %></li>
    <li>Data retirada fim <%= l @removal_order.removal_date_end, format: :custom  %></li>
    <li>Endereço <%= @removal_order.address %></li>
  </ul>

    <%= link_to 'Editar', edit_removal_order_path(@removal_order) %>
    <%= link_to 'Apagar pedido', @removal_order, method: :delete,
        data: { confirm: " Você quer deletar?"} %>
