<% if @removal_order.errors.any? %>
  <% @removal_order.errors.full_messages.each do |message|%>
    <%= message %>
  <% end %>
<% end %>

<h1>Detalhes do pedido</h1>
<ul>
  <li>Peso <%= @removal_order.weight %> kg</li>
  <li>Data retirada inicio <%= l @removal_order.removal_date_start, format: :custom %></li>
  <li>Data retirada fim <%= l @removal_order.removal_date_end, format: :custom  %></li>
  <li>Endereço <%= @removal_order.address %></li>
  <li>Descrição <%= @removal_order.description %></li>
  <li><%= image_tag @removal_order.photo if @removal_order.photo.attached? %></li>
</ul>

<% if @removal_order.open? %>
  <% if cooperative_signed_in? %>
    <%= form_tag("/removal_orders/#{@removal_order.id}/accept") do %>
      <%= label_tag :garbage_man, 'Coletor'%>
      <%= select_tag :garbage_man, options_for_select(GarbageMan.all.collect {|gm| [gm.name, gm.id] }), prompt: 'Selecione um coletor' %>
      <%= button_tag 'aceitar', type: :submit %>
    <% end %>
  <% end %>
  <h3>status: <%= @removal_order.in_progress? ? 'em andamento' : 'aberto' %> </h3>
<% else %>
  <h2>Codigo do pedido: <%= "##{@removal_order.id}-#{@removal_order.weight}"%></h2>
  <h3>status: <%= @removal_order.in_progress? ? 'em andamento' : @removal_order.status %> </h3>
  <h3>coletor: <%= @removal_order.garbage_man.name %> </h3>
<% end %>

<%= link_to 'Editar', edit_removal_order_path(@removal_order) %>
<%= link_to 'Apagar pedido', @removal_order, method: :delete,
        data: { confirm: " Você quer deletar?"} %>

<a href="javascript:;" id="report_problem" class="btn btn-danger">Reportar um problema</a>
<%= form_with model: [@removal_order, @removal_order_problem], html: { class: 'd-none needs-validation',
                                                                       id: 'new_removal_order_problem',
                                                                       novalidate: true } do |f| %>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: 'form-control', required: true %>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>

<div id="removal_order_problem">
    <%= render partial: 'removal_order_problems/removal_order_problems' %>
</div>

<script>
  $('#report_problem').on("click", function() {
    $('#new_removal_order_problem').removeClass('d-none');
  } );

  $(document).ready(function() {
    $("#new_removal_order_problem").on("ajax:success", function(event) {
      $('#removal_order_problem_comment').val('');
      $('#new_removal_order_problem').removeClass('has-error');
      $('.help-block').remove();
    }).on("ajax:error", function(event) {
      if(!$(this).hasClass('has-error')) {
        $('#removal_order_problem_comment').addClass('has-error');
        message = "<%= t('removal_order_problem.error.message') %>";
        $('#removal_order_problem_comment').parent()
          .append('<span class="help-block">' + message + '</span>');
      }
    });
  });
</script>
