
<div class="row d-flex justify-content-center align-items-center flex-column">
    <%= image_tag 'TRASHLESS.png', size: '250', class:'m-4' %>
    <div> <%= image_tag 'earth.gif', size: '100', class:'m-4' %> </div>
    <h4>Em busca de um mundo melhor!</h4>
</div>
<% if cooperative_signed_in? && @cooperative && @cooperative.lat %>
  <%= render 'coop_home' %>
<% else %> 
  <%= render 'guest_home' %>
<% end %>

<% unless user_signed_in? || cooperative_signed_in? %>
  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">
          Escassez de Coleta Seletiva Prejudica Reciclagem no Brasil. Um dos grandes problemas da reciclagem de lixo é a dificuldade enfrentada pelos cidadãos
em descartar o material correctamente.
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
          Trashless é uma plataforma aberta.
Esse sistema além de gerar renda para os coletores também significa uma grande vantagem para o meio ambiente.  
          </p>
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">

        <%= link_to new_registration_path(User.new), class: 'btn btn-xl btn-outline-light' do %>
          <i class="fas fa-download mr-2"></i>Cadastre-se!
        <% end %>
      </div>

    </div>
  </section>
<% end%>
