<!DOCTYPE html>
<html>
  <head>
    <title>Trashless</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <div class="container">
      <div class="m-3">
        <% if alert %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
        <% end %>
        <% if notice %>
          <div class="alert alert-success" role="alert">
            <%= notice %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.google_maps['key_api']%>&callback=initMap" async defer></script>
  </body>
</html>
