<!DOCTYPE html>
<html>
  <head>
    <title>Trashless</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">Trashless</a>
        <% if user_signed_in? %>
          <%= link_to 'Registrar coleta', new_removal_order_path, class: 'navbar-brand' %>
        <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
