<!DOCTYPE html>
<html>
  <head>
    <title>Trashless</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">Trashless</a>
      <% if user_signed_in? %>
        <%= link_to 'Registrar coleta', new_removal_order_path, class: 'navbar-brand' %>
      <% end %>
      <% if cooperative_signed_in? %>
        <%= link_to 'Registrar coletador', new_garbage_men_path, class: 'navbar-brand' %>
      <% end %>
      <li>
        <% if user_signed_in? %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Logar', new_user_session_path %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to 'Sair', destroy_cooperative_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Logar como filial', new_cooperative_session_path, class: 'navbar-brand' %>
        <% end %>
      </li>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
